header {
    background-color: #FBFAEE;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-nav li a {
    color: #000;
    font-weight: bold;
    margin: 0 30px;
}

.navbar-nav .first a {
    margin-left: 0;
}

.navbar-nav .last a {
    margin-right: 0;
}

footer {
    background-color: #AB7B57;
    color: white;
}

footer .col-md-2 {
    margin: 15px;
    padding: 15px;
}

/* Spacing to the unordered lists */
footer ul {
    padding-left: 20px;
}

/* Background color for the container inside the header section */
.label-custom {
    background-color: #F7FFE0;
}
